@use './variables';

//skip Link
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

body {
  background-image: url('../img/trumpbg.png');
  background-size: 25px;
}


ul { 
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  min-width: 200px;
  white-space: normal;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.disappear {
  transform: scale(0);
}

button {
  border: 1px solid variables.$black;
  border-radius: 5px;
  width: 250px;
  height: 60px;
  text-transform: uppercase;
  transition: all 0.2s;
}