@use './variables';
@use './typography';



.quoteContainer {
  padding: 20px;
  background-color: variables.$lightGray;
  width: 100%;
  height: 1px;
  min-height: 600px;
  .textContainer {
    font-family: 'Playfair Display', serif; 
    font-size: 3.35rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      margin: 0;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  #trumpButton{
    background-color: rgba($color:variables.$trumpRed, $alpha:0.4);
    border-color: variables.$trumpRed;
    &:hover {
      background-color: rgba($color:variables.$trumpRed, $alpha:0.8);
    }
  }
  #notButton{
    background-color: rgba($color:variables.$secondaryColor, $alpha:0.4);
    border-color: variables.$secondaryColor;
    &:hover {
      background-color: rgba($color:variables.$secondaryColor, $alpha:0.8);
    }
  }
  &.disappear{
    display: none;
  }
}